<!DOCTYPE html>
<html>
  <head>
    <title>失败页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>登陆失败!</h1>
      <a href="/login">重新登陆</a>
  </body>
</html>
