<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>这是ejs模板引擎</h2>
    <p>Welcome to <%= title %></p>
    <p>中文title <%= ctitle %></p>
	<a href="/news">跳转新闻页面</a><br>
	<a href="/login">跳转登录页</a>
  <br>
  <a href="/ajaxTest">ajax测试页面</a>
  <a href="/movie" style="color:brown">电影</a>
  <a href="/cors" style="color:orangered">cors解决跨域</a>
  </body>
</html>
