<!DOCTYPE html>
<html>
  <head>
    <title>新闻页面- <%= newsTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!-- 动态页面 动态网站 -->
    <h1>这是新闻页面</h1>
    <p><%= newsTitle %></p>
    <p><%= newsContent %></p>
	<a href="/">回到首页</a>
  </body>
</html>
